In [1]:
firstname='divya'

lastname= 'rajendran'

fullname = f"{firstname} {lastname}"

print (fullname)

SyntaxError: invalid syntax (3915379799.py, line 5)

In [2]:
print(fullname)

NameError: name 'fullname' is not defined

In [3]:
print (firstname)

NameError: name 'firstname' is not defined

In [4]:
firstname = 'divya'

lastname = 'rajendran'

print (lastname)

rajendran

In [5]:
fullname = "{firstname} {lastname}"

SyntaxError: invalid syntax (3731382580.py, line 1)

In [6]:
print (fullname)

NameError: name 'fullname' is not defined

In [7]:
fullname = f" {firstname} {lastname}"

print (fullname)

 divya rajendran

In [8]:
message = f" thank you for the session faiyaz, {fullname}"

print (message)

 thank you for the session faiyaz,  divya rajendran

In [ ]:
To Correct the FORMAT 2 ways:

In [ ]:
Way 1 : This corrects only the fullname String

In [9]:
message = f" thank you for the session faiyaz, {fullname.tile()}"

AttributeError: 'str' object has no attribute 'tile'

In [10]:
message = f" thank you for the session faiyaz, {fullname.title()}"

In [11]:
print (message)

 thank you for the session faiyaz,  Divya Rajendran

In [ ]:
Way 2 : This corrects all the strings

In [12]:
print (message.title())

 Thank You For The Session Faiyaz,  Divya Rajendran

In [ ]:
ADDING WHITESPACES

In [13]:
print (student_name: divyaguhanvigneshsrini)

SyntaxError: invalid syntax (1152811615.py, line 1)

In [14]:
print (student_name :divyaguhanvigneshsrini)

SyntaxError: invalid syntax (1102257962.py, line 1)

In [15]:
print (student_name : divyaguhanvigneshsrini)

SyntaxError: invalid syntax (2766845649.py, line 1)

In [16]:
print (student_name:divyaguhanvigneshsrini)

SyntaxError: invalid syntax (2502338082.py, line 1)

In [17]:
print (student_name divyaguhanvigneshsrini)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1052394046.py, line 1)

In [18]:
print (student_name divyaguhanvigneshsrini)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2160060230.py, line 1)

In [19]:
print ("student_name: divyaguhanvigneshsrini")

student_name: divyaguhanvigneshsrini

In [ ]:
Adding new line Spaces:

In [20]:
print ("student_name: \ndivya\nguhan\nvignesh\nsrini")

student_name:
divya
guhan
vignesh
srini

In [ ]:
Adding Tab Space:

In [21]:
print ("student_name: \n\tdivya\n\tguhan\n\tvignesh\n\tsrini")

student_name:
	divya
	guhan
	vignesh
	srini

In [ ]:
To Correct the Format :

In [22]:
print ("student_name: \n\tdivya\n\tguhan\n\tvignesh\n\tsrini.title()")

student_name:
	divya
	guhan
	vignesh
	srini.title()

In [23]:
print ("student_name: \n\tdivya\n\tguhan\n\tvignesh\n\tsrini".title())

Student_Name:
	Divya
	Guhan
	Vignesh
	Srini

In [ ]:
Changing to UPPER case:

In [24]:
print ("student_name: \n\tdivya\n\tguhan\n\tvignesh\n\tsrini".upper())

STUDENT_NAME:
	DIVYA
	GUHAN
	VIGNESH
	SRINI

In [26]:
REMOVING WHITESPACE:

SyntaxError: invalid syntax (307480540.py, line 1)

In [25]:
print ("student_name:   \n\tdivya\n\tguhan\n\t  vignesh\n\tsrini".title())

Student_Name:
	Divya
	Guhan
	Vignesh
	Srini

In [27]:
print ("student_name:   \n\tdivya\n\tguhan\n\t  vignesh\n\tsrini".title())

Student_Name:
	Divya
	Guhan
	  Vignesh
	Srini

In [28]:
print ("student_name:   \n\tdivya\n\tguhan\n\t  vignesh\n\tsrini".title().strip())

Student_Name:
	Divya
	Guhan
	  Vignesh
	Srini

In [29]:
print ("student_name :   \n\tdivya\n\tguhan\n\tvignesh\n\tsrini".title())

Student_Name :
	Divya
	Guhan
	Vignesh
	Srini

In [30]:
print ("student_name :   \n\tdivya\n\tguhan\n\tvignesh\n\tsrini".title().strip())

Student_Name :
	Divya
	Guhan
	  Vignesh
	Srini

In [31]:
print ("student_name :.strip()   \n\tdivya\n\tguhan\n\tvignesh\n\tsrini".title().strip())

Student_Name :.Strip()
	Divya
	Guhan
	Vignesh
	Srini

In [32]:
test = 'up'
test =" up"
print (test)

 up

In [34]:
test = "down "
test2 = "down "

print (test2)

down

In [35]:
test3 = " middle "

print (test3)

 middle

In [ ]:
To remove spaces

In [36]:
print (test.lstrip())

down

In [37]:
print (test.rstrip())

down

In [38]:
print (test2.lstrip())

down

In [39]:
print (test2.rstrip())

down

In [40]:
print (test3.strip())

middle

In [ ]:
Since the above output is not good, trying again

In [41]:
note = " maths"

print (note)

 maths

In [42]:
note2 = "science  "

print (note2)

science

In [43]:
note3 = " english "

print (note3)

 english

In [44]:
print (note.lstrip())

maths

In [45]:
print (note2.rstrip())

science

In [46]:
print (note3.strip())

english